 /* Estilos gerais */
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #f135a3;
  color: #fff;
  padding: 10px 0;
  height: 82px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #e86252;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos específicos para o carrinho de pedidos */
#carrinho {
  margin-top: 20px; /* Ajuste do posicionamento do carrinho */
}

#itens-carrinho {
  margin: 0;
  padding: 0;
}

#total-carrinho {
  margin-top: 20px;
  font-weight: bold;
}

/* Estilos específicos para o formulário de pedido */
#formulario-pedido {
  margin-top: 40px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #f135a3;
  color: #fff;
  cursor: pointer;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}